{
    "trailingComma": "none",
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "arrowParens": "always",
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^pages/(.*)$",
        "^components/(.*)$",
        "^store/(.*)$",
        "^hooks/(.*)$",
        "^services/(.*)$",
        "^assets/(.*)$",
        "^./(.*)$",
        "^../(.*)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
